# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Virtual environment
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# Output folder
Output/

# FFmpeg temp files
*.log
*.tmp

# Misc
*.bak
